
/* navbar */
.nav-container{
    height: 20vh;
}


/* hero */
.main-section{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
    box-shadow: 0 7px 14px -5px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 22px -4px rgba(0,0,0,0.25);
    /* background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); */
}

.main-section .button-card{
    /* border:2px solid black; */
    height: auto;
    width: 300px;
    /* box-shadow: 1px 1px 2px 1px lightgray; */
    box-shadow: 0 7px 14px -5px rgba(0,0,0,0.15);
    outline: 2px solid rgba(86,112,145,0.1);
    cursor: pointer;
    background-color:whitesmoke;
}

.main-section .button-card h1{
    font-size:1.5rem;
    padding: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* color: white; */
}

.main-section .button-card:hover{
    /* border:2px solid black; */
   transform: scale(1.05);
   transition: transform 0.3s ease-in-out;
}

.nav-container{
    background: transparent;
}

.bg-light{
    background:transparent !important;
}

.navbar{
    box-shadow: none;
}

.navbar .router-link-exact-active {
    /* border-bottom: 3px solid #0066f9; */
    border-bottom: none;
}

.nav-item{
    height:41px;
}

.nav-item a:hover{
    border-bottom: 3px solid #0066f9;
}

.navbar-brand{
    margin-right:20px;
}
.company-name{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    white-space: nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-nav{
    margin: auto!important;
}

.nav-item a{
    margin: 0 10px!important;
}

.d-none{
    margin: 0!important;
}

/* content */

.content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    align-items: center;
}

.content h2 {
    margin-bottom: 8vh;
}

.content .aboutus {
    font-size: x-large;
    width: 95%;
    text-align: justify;
}




/* footer */

footer {
    min-height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* ----------------------------------------------------------GetFunds styling-------------------------------------*/

.getfunds .card{
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: auto;
    box-shadow: 0 7px 14px -5px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 22px -4px rgba(0,0,0,0.25);
    margin-bottom: 2%;
}

.card .align-card{
    padding: 20px;
    width:100%;
    padding-bottom: 7%;
}

.nice-form-group{
    width: 85%;
    margin: 10px auto;
    padding: 20px;
    padding-bottom: 0;
}

.nice-form-group label h2{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin: 0;
}

.nice-form-group label h2::before{
    content: "*";
    color:red;
    position: absolute;
    right: -13px;

}

.nice-form-group input{
    display: block;
    width:100%;
    /* margin: auto; */
    padding: 14px;
    /* opacity: 0.1; */
    /* color: black; */
    background-color: whitesmoke;
    border: 1px solid #80808052;
    border-radius: 7px;
    box-shadow: 1px 2px 4px -1px #726d6d8f;
}

.nice-form-group input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.nice-form-group textarea{
    display: block;
    width:100%;
    /* margin: auto; */
    padding: 14px;
    /* opacity: 0.1; */
    /* color: black; */
    background-color: whitesmoke;
    border: 1px solid #80808052;
    border-radius: 7px;
    box-shadow: 1px 2px 4px -1px #726d6d8f;
}

.proof{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.proof h3{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
}

.proof button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    background: whitesmoke;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.proof button:hover{
    background-color: rgba(69, 69, 69, 0.838);
    color:rgba(255, 255, 255, 0.904);
    transition: all 0.1s ease-in-out;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 30px;
}

.check-container p{
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    vertical-align: middle;
    display: contents;
}
  
  /* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    background-color: rgb(178, 178, 178);
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 8%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: rgba(173, 173, 173, 0.904);
}
  
  /* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: rgba(69, 69, 69, 0.838);
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bank-details input{
    margin: 15px 0;
}

.fundraiser
{
    width: 100%;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1.4rem;
    color: white;
    background:linear-gradient(to right,#01bfbcee,#02a3a0e6,#057887,#04759a);
    box-shadow: 0 4px 8px #01bfbd4d;
    border: none;
    opacity: 0.8;
    border-radius: 5px;
}

.fundraiser:focus{
    border: none;
    outline: none;
}

.fundraiser:hover{
    transform: scale(1.03);
    opacity: 1;
    transition: all 0.24s ease-in-out;
}

/*--------------- ----------------------Donate page styling-------------------------------------------*/
.main-heading{
    font-size: 2rem;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.main-heading::after{
    content: "";
    width:20%;
    height:3px;
    text-align: center;
    background-color: black;
    display: block;
    margin: auto;
    margin-top:11px ;
}

.Cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:100%;
    column-gap: 30px;
    overflow: hidden;
}

.card{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
    margin: 30px 10px;
    cursor: pointer;
}

.card-img{
    width:100%;
    height:auto;
}

.card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:10px 10px 0 0 ;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-description .heading{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
}

.card-description .person-name{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-overflow: ellipsis;
    padding: 20px;
    margin: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card-description .fund-raised{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-overflow: ellipsis;
    padding: 20px;
    margin: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card-description .buttons-card{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width:100%;
}

.buttons-card button{
    display: block;
    width: 45%;
    /* height: 40%; */
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 8px;
}

.buttons-card button:hover{
    transform: scale(1.05);
    background: black;
    color:white;
    transition: all 0.3s ease-out;
}

/* --------------------------------------Donate someone you know section--------------------------------------- */

.donate-relative{
    padding: 20px;
    width: 100%;
    height: auto;
}

.form{
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
    position: relative;
}

.form input{
    width:70%;
    padding:10px 20px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    outline: none;
    border: none;
}

.form i{
    position:absolute;
    right:15%;
    padding-right:12px;
}

.details{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding-bottom: 10px;
}

.details input{
    width:36.5%;
}

.pay-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 20px;
}

.currency{
    width: 26% !important;;
    border-radius: 10px 0 0 10px !important;
}

.amount{
    width: 50% !important;
    border-left: 1px solid black !important;
    border-radius: 0 10px 10px 0px !important;
}

.payment-options{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.payment-options .container1{
    width:100%;
    display: flex;
    justify-content: center;
}

.payment-options .container2{
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container2 img{
    position: absolute;
    height:50px;
    width:50px;
    margin: auto;
    top: 25%;
    left: 27%;
}


.make-payment{
    width:70%;
    display: block;
    margin: auto;
    padding: 15px 30px;
    background: linear-gradient(to right,rgb(85, 154, 177),rgb(79, 79, 210),rgb(33, 33, 181),rgb(6, 6, 163));
    color: white;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    border:none;
    outline: none;
    border-radius: 20px;
}

.whatsapp{
    width:70%;
    display: block;
    margin: auto;
    padding: 15px 30px;
    background: #25D366;
    color: white;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    border:none;
    outline: none;
    border-radius: 20px;
}

/* -------------------------------------------------------------------------------------------------------------- */


